.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  color: white;
}
.banner p{
  margin-bottom: 50px;
}
